/* width */
*::-webkit-scrollbar {
    width: 3px;
  }
*::-webkit-scrollbar-track {
    background: #262626;
  }
*::-webkit-scrollbar-thumb {
    background: #888;
  }
*::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
html, body{
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center;
    scroll-behavior: smooth;
    background-color: #262626;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
@keyframes shine{
    from {
        background-position: center 0;
    }
    to {
        background-position: center 200%;
    }
}
.Berke{
    margin: 0;
    font-family: "Montserrat",sans-serif;
    font-size: 11.5vh;
    color: white;
    background: url(arkp.jpg);
    background-size: auto 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 8s linear infinite;
}
#headerblur{
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 1;
    top: 0;height: 50px;
    width: 100%;
    background-color: #262626a6;
}
#header{
    position: fixed;
    top: 0;
    z-index: 1;
    height: 50px;
    width: 100%;
}
.parallax{
    margin: auto;
    width: 80%;
    min-height: 500px;
    background: url(Software.gif);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 50%;
}
.container{
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin: auto;
    max-width: 550px;
    height: 2960px;
    display: flex;
    flex-direction: column;
}
.navbar{
    display: flex;
    flex-basis:content;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
    max-width: 750px;
    height: 100%;
}
.navbar ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.navbar ul li{
    float: left;
    margin-right: 25px;
}
.navbar ul li{
    line-height: 40px;
}
.navbar ul li a{
    color: #dedede;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
.navbar ul li a:hover{
    border-bottom: 3px #dedede solid;
    border-radius: 3px;
}
.navbar ul li:first-child a:hover {
    border-bottom: 0px #dedede solid;
    border-radius: 3px;
}
.navbar ul li:first-child a{
    font-size: 24px;
}
.navbar ul li:first-child{
    margin-top: -3px;
}
.navbar .mobileMenu{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 5px;
    box-sizing: border-box;
}
.navbar  button{
    display: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #dedede;
    color: #dedede;
    width: 40px;
    height: 40px;
    transition: background-color 0.1s ease-in;
}
.navbar button:hover{
    background-color: #d874ff2f;
    cursor: pointer;
}
.navbar button:active{
    background-color: #d874ff;

}
.text-light{
    color: #dedede;
}
.bolder{
    font-size: 24px;
    font-weight: bold;
}
.bolder1{
    font-size: 12px;
    font-weight: bold;
}
#content{
    width: 100%;
    height: 2400px;
}
.contentTopInfoSide{
    width: 100%;
    height: 300px;
}
.contentTopInfoLeftSide{
    width: 68%;
    height: 100%;
    float: left;
}
.contentTopInfoLeftSide a{
    text-decoration: none;
    transition: 0.2s ease;
    color: #d874ff;
}
.contentTopInfoLeftSide a:hover{
    transition: 0.2s ease;
    color: #dedede;
}
.contentTopInfoRightSide{
    width: 32%;
    height: 150px;
    float: left;
}
.topfullwidth{
    margin: 20px auto;
    width: 100%;
    background-color: #303030;
    height: 50px;
    border-radius: 12px;
}
.fa{
    margin-right: 5px;
    color: #dedede;
}
.profilePhoto{
    width: 92px;
    height: 92px;
    border-radius: 100%;
    border: 3px solid white;
}
.PP{
    width: 92px;
    height: 92px;
    border-radius: 100%;
}
.skillsSide{
    width: 100%;
    height: 680px;
    clear: both;
}
.skillsText{
    font-size: 24px;
    color: #00ccff;
}
.skillSetRepeat{
    margin-bottom: 10px;
    width: 100%;
    height: 90px;
}
.reset{
    width: 100%;
}
.skillSetRepeat progress{
    width: 300px;
}
.Berke2{
    color: white;
    margin-left: 84px;
    padding-top: 10px;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}
.hobbySide{
    width: 100%;
    height: 400px;
    padding: 20px;
    box-sizing: border-box;
    text-align: right;
}
.hobbySide ul{
    list-style-type: square;
    margin: 0;
    text-align: right;
}

.hobbySide ul li{
    margin-top: 5px;
    text-align: right;
    direction: rtl;
    color: #00b4bf;
    font-size: 21px;
}
.educationInfo{
    width: 100%;
    height: 350px;
}
.educationText{
    font-size: 32px;
    font-weight: bold;
    color: #dedede;
    text-align: center;
}
.educationText span{
    background-color:#01969e;
    border-radius: 2px;
}
.edSchoolSection{
    width: 100%;
    margin: 40px 0px;
    height: 50px;
}
.txtright{
    float: right;
}
.edUpperText{
    font-weight: bold;
    color: #dedede;
}
.edAltText{
    color: #b7b7b7;
}
.profileInfo{
    width: 100%;
    height: auto;
}
.profileInfoH{
    font-size: 32px;
    font-weight: bold;
    color: #dedede;
}
.profileInfoH span{
    background-color: #01969e;
    border-radius: 2px;
}
.profileInfo p{
    color: #dedede;
    text-align: justify;
}
.profileInfo b{
    text-align: left;
}
#footer{
    margin-top: 10px;
    text-align: center;
    width: 100%;
    color: #b7b7b7;
    position: relative;
    clear: both;
    bottom: 0;
}
.projects{
    width: 100%;
    height: auto;
    color: #dedede;
}
.projects a{
    color: #d874ff;
}
a:hover{
    transition: 0.2s ease;
    color: #dedede;
}
.projects h2{
    display: inline-block;
    background-color: #01969e;
    border-radius: 2px;
    color: white;
}
.projects p:nth-of-type(1){
    padding-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #b7b7b7;
}
.projects p:nth-of-type(2){
    padding-bottom: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid #b7b7b7;
}
.projects p:nth-of-type(3){
    padding-bottom: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid #b7b7b7;
}
.mobileMenuDisplay{
    margin: 50px 0px;
    position: fixed;
    backdrop-filter: blur(5px);

    width: 100vw;
    height: 100vh;
    display: none;
    flex-grow: 1;
    justify-content: center;
    background-color: #424242aa;
}
.mobileMenuDisplay ul{
    list-style-type: none;
    display: flex;
    flex-grow: 1;
    margin: 5px 0;
    padding: 0;
    justify-content: center;
}
.mobileMenuDisplay ul li{
    display: flex;
    
    flex-grow: 1;
}
.mobileMenuDisplay ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d874ff;
    text-decoration: none;
    width: 100%;
    height: 50px;
    transition: all 0.1s ease-in-out;
    border-radius: 10px;
}
.mobileMenuDisplay ul li a:hover{
    background-color: #dedede;
    color: black;
}
.mobileMenuDisplay ul li a:focus{
    background-color: #d874ff;
    color: black;
}
@media screen and (max-width: 320px) {
    #footer{
        margin-top: 120px;
    }
    
}
@media screen and (max-width: 420px) {
    #footer{
        margin-top: 60px;
    }
}
@media screen and (max-width: 768px) {
    .navbar ul li:nth-of-type(2){
        display: none;
    }
    .navbar .mobileMenu button{
        display: flex;
    }
    .Berke{
        font-size: 51px;
    }
    .Berke2{
        font-size: 13px;
    }
}